.label {
  padding: 5px;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 2px;
  display: block;
  font-weight: bold;
}
.input {
  width: 93%;
  border-width: 1px;
  border-color: rgba(27, 27, 27, 0.466);
  padding: 5px;
  margin-left: 10px;
  display: block;
  margin-bottom: 5px;
  font-family: inherit;
}
